<h1>La Abuela Sorda</h1>
<form action="/answer" method="post">
	<fieldset>
		<label for="word">Di algo abuela:</label></br>
		<input type="text" name="word">
		<input type="submit" value="Dilo">
	</fieldset>
</form>